.cursor {
    width: 10vmin;
    height: 10vmin;
    border-radius: 50%;
    background-color: hsla(0, 0, 0, 0);
    border: 5px solid black;
    position: absolute;
    top: var(--cursorY);
    left: var(--cursorX);
    transform: translate(-50%, -50%);
}